app/**
core/vendor/**
administrator/cache/**
logs/**
js_apps/**
google*.html
bans
configuration.php
hubconfiguration.php
robots.txt
auto-deployments.log
deployments.log
freeze-auto-deployments
config/
